body {
    background-color: #002543;
    color: #ffffff;
    margin: 0;
    zoom: 1.1;
}

.crop {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 192px;
    overflow: hidden;
    border: 2px solid white;
    float: left;
}

img {
	margin: 0;
	padding: 0;
}

input {
    margin: 10px;
    padding: 5px;
    font-size: 0.8em;
}

h1 {
	font-family: arial,helvetica,sans-serif;
	font-size: 32px;
	color: white;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 3px;
}

h3 {
	font-family: arial,helvetica,sans-serif;
	font-size: 14px;
	color: white;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 3px;
}
.crop:hover {
    border: 2px solid #fdc632;
}
